version: "3.8"

services:
  hadoop:
    image: harisekhon/hadoop:latest
    container_name: hadoop
    hostname: hadoop
    ports:
      - "9870:9870"   # HDFS UI
      - "8088:8088"   # YARN UI
    networks:
      - hadoop

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=upes_db
    ports:
      - "3306:3306"
    networks:
      - hadoop

networks:
  hadoop:
